<footer class="border-top py3">
        <div class="flex justify-center flex-wrap">
          <a href="http://www.hshsl.umaryland.edu" class="btn blue regular">HS/HSL</a>
          <a href="http://guides.hshsl.umaryland.edu/R" class="btn blue regular">R Libguide</a>
          <a href="https://github.com/hshsl-training/R-workshop" class="btn blue regular">GitHub</a>
          <a href="http://www.hshsl.umaryland.edu/about/staff/profile.cfm?id=bzelip" class="btn blue regular">Brian Zelip</a>
        </div>
      </footer>
