<footer class="border-top py3">
        <ul class="list-reset flex justify-center flex-wrap">
          <li class="px3">
            <a href="http://www.hshsl.umaryland.edu">HS/HSL</a>
          </li>
          <li class="px3">
            <a href="http://guides.hshsl.umaryland.edu/R">R Libguide</a>
          </li>
          <li class="px3">
            <a href="https://github.com/hshsl-training/R-workshop">GitHub</a>
          </li>
          <li class="px3">
            <a href="http://www.hshsl.umaryland.edu/about/staff/profile.cfm?id=bzelip">Brian Zelip</a>
          </li>
        </ul>
      </footer>
