<nav class="flex center rounded mb2">
        <a href="index.html" class="flex-auto py1 hover-text-decoration-none border-blue rounded-left{% if page.title == "visual" %} bg-blue white cursor-def{% else %} hover-dim{% endif %} after-analysis">Visual</a>
        <a href="stats.html" class="flex-auto py1 hover-text-decoration-none border-blue x-group-item{% if page.title == "stats" %} bg-blue white cursor-def{% else %} hover-dim{% endif %} after-analysis">Statistical</a>
        <a href="load.html" class="flex-auto py1 hover-text-decoration-none border-blue x-group-item rounded-right{% if page.title == "load" %} bg-blue white cursor-def{% else %} hover-dim{% endif %}">Load External Data</a>
      </nav>
