.hover-dim:hover { box-shadow: inset 0 0 0 20rem rgba(0,0,0,.0625); }
      .hover-text-decoration-none:hover { text-decoration: none; }
      .cursor-def { cursor: default; }
      .overflow-scroll { overflow:scroll; }
      .border-blue { border:1px solid #0074d9; }
      .x-group-item { margin-left: -1px; }
