<!DOCTYPE html>
<html lang="en-US">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="css/basscss@7.1.1.min.css">
    <title>{{ site.title }}</title>
    <meta name="description" content="">
    <meta name="author" content="Brian Zelip">
    <meta name="keywords" content="">
    <style>
      {% include styles.css %}
    </style>
  </head>

  <body class="px2">

    <div class="container">

      <h1>{{ site.title }}</h1>

      {% include nav.html %}
      <hr>

      <h2>{{ page.heading }}</h2>

      {% include ordered-list-logic.html %}

      {% include footer.html %}
    </div>

    {% include scripts.html %}

  </body>

</html>
